/* Creating custom properties accessible to all other CSS */
:root {
    --red: #6A1C0F;
    --gold: #BD9865;
    --neonBlack: #121313;
    --white: rgba(255, 255, 255, 0.951);
}
body {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
  }
  
  header { 
    justify-content: space-between;
    align-items: left;
    padding: 1%;
    margin: 0%;   
    background-color: var(--neonBlack); /*Using previously created variables(properties) */
    color: var(--gold);
  }

  /* Adding background color for styling webpages */
  .backgroundColor {
    background-color: var(--red);
  }

  /* Adding justify to the text */
  p {
    text-align: justify;
    padding-left: 5%;
    padding-top: 0%;
  }

  /* Adding padding to fit button */
  .squareContainer {
    padding: 5px;
    width: 575px;
  }

/* hoover effect with greyscales to make image grey when mouse is over it */
  #static:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }

/* hoover effect with gold color to change font color */
  div:hover {
    color: var(--gold);
  }
  
  h1 {
    font-size: 200%;
    border: 0;

  }

  h4::after {
    color: var(--gold);
    content: '(They/Them)';
    align-content: left;
  }
  
  /* Added the rest of the header text in different color & size */
  h1::after {
    content: 'Desfassiaux ';
    color: var(--red);
    margin: 5px;
    
  }
  
  h2 {
    margin-top: 0%;
    font-size: 300%;
    padding-left: 5%;

  }
  
  h3 {
    margin: 2% 0;
    font-size: 200%;
    padding-left: 5%;
    text-emphasis-style: none;
  }

  h5 {
    margin: 2% 0;
    font-size: 150%;
    padding-left: 5%;
    text-emphasis-style: none;
  }
  
  /* Added fire emoji before every h3 heading */
  h3::before {
    font-family: Impact;
    content: '\01F525';
    margin-right: 5px;
  }
  
  /* Added japanesse symbols after the nav links */
  nav li::after {
    content: ' \3299';
    color: var(--gold);
    padding: 0%;
    font-family: cursive;
    font-size: 20px;
  }
  
  nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
  }
  
  nav a {
    color: var(--gold);
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
  }
  
  /* Added hover color change on nav links */  
  nav a:hover {
    color: var(--red);
  }
  
  main {
    display: flex;
    flex: 1 1 0;
    max-width: 1200px;
    margin: 2% auto;
  }
  
  section {
    flex: 1 1 0;
    padding-right: 5%;
  }
  
  /* Added borders for styling of webpage */   
  article {
    border-top: 10px solid var(--red);
    border-bottom: 10px solid var(--red);
  }
  
  article p {
    margin: 2% 0;
    font-size: 110%;
  }
  
  article ul {
    margin-left: 5%;
    margin-bottom: 2%;
    margin-top: 2%;
    font-size: 110%;
    list-style: circle;
  }
  
  aside {
    width: 25%;
  }
  
  aside h2 {
    font-size: 150%;
  }
  
  input,
  button {
    width: 100%;
    margin: 2% 0;
    padding: 1%;
  }
  
  footer {
    display: flex;
    justify-content: center;
    padding: 2%;
    background-color: var(--neonBlack);
    color: var(--white);
  }
  
  @media screen and (max-width: 768px) {
    /* Use flex-direction to stack the navbar, sidebar, and body */
    main,
    nav {
      flex-direction: column;
    }
    /* Make the sidebar stack in top the body */
    .backgroundColor {
      order: 0;
    }
    /* Make the sidebar stack in the bottom the body */
    .rightBar {
        order: 1;
      }
    /* Change the header background */
    header {
      background: var(--white);
    }
    /* Change the navbar and footer background */
    nav,
    footer {
      background-color: var(--white);
    }
  }
  